


    <div class="row c-contactpage">
        <div class="col-12">
            <div class="c-page-head c-page-head-xs">
                <h2 class="c-contactpage__heading c-contactpage__heading--color">Wangaratta Chronicle</h2>
                <div class="c-contactpage__arrow"></div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        37 Rowan Street,<br />
                        Wangaratta Victoria 3677<br />
                        <br />
                        (03) 5723 0100<br />
                        Fax: (03) 5721 9447
                    </p>
                </div>
                <div class="c-contactpage__expand j-contactpage-expand d-md-none">
                    More info
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Classifieds:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0101<br />
                        <a href="mailto:classifieds@nemedia.com.au">classifieds@nemedia.com.au</a>
                    </p>
                    <h4 class="c-contactpage__subhead u-margin-top-15 u-mobile-margin-top-15">Advertising:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0100
                    </p>
                </div>
                
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Editorial:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0100<br />
                        After hours 0429 018 797<br />
                        <a href="mailto:edit.chronicle@nemedia.com.au">edit.chronicle@nemedia.com.au</a>
                        
                    </p>
                    <h4 class="c-contactpage__subhead u-margin-top-15">Accounts:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0100<br />
                        <a href="mailto:accounts@nemedia.com.au">accounts@nemedia.com.au</a>
                    </p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row c-contactpage">
        <div class="col-12 u-mobile-margin-top-30">
            <div class="c-page-head c-page-head-xs">
                <h2 class="c-contactpage__heading">Other Newspapers</h2>
            </div>
        </div>
        
    </div>
    <!-- wangaratta chronicle -->
    <div class="row c-contactpage">
        <div class="col-12">
            <div class="">
                <h3 class="c-contactpage__title">Wangaratta Chronicle</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        37 Rowan Street,<br />
                        Wangaratta Victoria 3677<br />
                        (03) 5723 0100<br />
                        Fax: (03) 5721 9447<br />
                        <a href="https://wangarattachronicle.com.au">wangarattachronicle.com.au</a>
                    </p>
                </div>
                <div class="c-contactpage__expand j-contactpage-expand d-md-none">
                    More info
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Classifieds:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0101<br />
                        <a href="mailto:classifieds@nemedia.com.au">classifieds@nemedia.com.au</a>
                    </p>
                    <h4 class="c-contactpage__subhead u-margin-top-15 u-mobile-margin-top-15">Advertising:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0100
                    </p>
                </div>
                
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Editorial:</h4>
                    <p class="c-contactpage__content">
                        Jeff Zeuschner<br />
                        (03) 5723 0100<br />
                        <a href="mailto:edit.chronicle@nemedia.com.au">edit.chronicle@nemedia.com.au</a>
                        
                    </p>
                    <h4 class="c-contactpage__subhead u-margin-top-15">After hours editorial:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0107
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="o-rule o-rule--30">
    <!-- Mansfield Courier & Mt Buller News -->
    <div class="row c-contactpage">
        <div class="col-12">
            <div class="">
                <h3 class="c-contactpage__title">Mansfield Courier, Mt Buller News</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        (03) 5775 2115<br />
                        98 High Street,<br />
                        Mansfield VIC
                        <a href="https://mansfieldcourier.com.au">mansfieldcourier.com.au</a>
                        <a href="https://mtbullernews.com.au">mtbullernews.com.au</a>
                    </p>
                </div>
                <div class="c-contactpage__expand j-contactpage-expand d-md-none">
                    More info
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Classifieds:</h4>
                    <p class="c-contactpage__content">
                        (03) 5775 2115<br />
                        <a href="mailto:classi.mcourier@nemedia.com.au">classi.mcourier@nemedia.com.au</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Advertising:</h4>
                    <p class="c-contactpage__content">
                        (03) 5775 2115<br />
                        <a href="mailto:sales@nemedia.com.au">sales@nemedia.com.au</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Editorial:</h4>
                    <p class="c-contactpage__content">
                        (03) 5775 2115<br />
                        <a href="mailto:edit.mcourier@nemedia.com.au">edit.mcourier@nemedia.com.au</a>
                    </p>
                    
                </div>
            </div>
           
        </div>
    </div>
    <hr class="o-rule o-rule--30">
    <!-- Myrtleford Times & Alpine Observer & Mt Hotham News & Falls Creek News -->
    <div class="row c-contactpage">
        <div class="col-12">
            <div class="">
                <h3 class="c-contactpage__title">Myrtleford Times & Alpine Observer, <br />Mt Hotham News, Falls Creek News</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        (03) 5752 1058<br />
                        76 Standish Street,<br />
                        Myrtleford VIC 3737<br />                       
                        <a href="https://alpineobserver.com.au">alpineobserver.com.au</a><br />     
                        <a href="https://www.fallscreeknews.com.au">fallscreeknews.com.au</a><br />     
                        <a href="https://www.mthothamnews.com.au">mthothamnews.com.au</a>
                    </p>
                </div>
                <div class="c-contactpage__expand j-contactpage-expand d-md-none">
                    More info
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Classifieds:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0101<br />
                        <a href="mailto:classifieds@nemedia.com.au">classifieds@nemedia.com.au</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Advertising:</h4>
                    <p class="c-contactpage__content">
                        (03) 5731 3305<br />
                        <a href="mailto:sales@nemedia.com.au">sales@nemedia.com.au</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Editorial:</h4>
                    <p class="c-contactpage__content">
                        (03) 5752 1058<br />
                        <a href="mailto:edit.timesobserver@nemedia.com.au">edit.timesobserver@nemedia.com.au</a>
                    </p>
                    
                </div>
            </div>
            
        </div>
    </div>
    <hr class="o-rule o-rule--30">
    <!-- Ovens and Murray Advertiser -->
    <div class="row c-contactpage">
        <div class="col-12">
            <div class="">
                <h3 class="c-contactpage__title">Ovens and Murray Advertiser</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        (03) 5723 0100<br />
                        37 Rowan Street,<br />
                        Wangaratta Victoria 3677<br />
                        <a href="https://omadvertiser.com.au">omadvertiser.com.au</a>
                    </p>
                </div>
                <div class="c-contactpage__expand j-contactpage-expand d-md-none">
                    More info
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Classifieds:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0101<br />
                        <a href="mailto:classifieds@nemedia.com.au">classifieds@nemedia.com.au</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Advertising:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0100<br />
                        <a href="mailto:sales@nemedia.com.au">sales@nemedia.com.au</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Editorial:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0100<br />
                        <a href="mailto:edit.omadvertiser@nemedia.com.au">edit.omadvertiser@nemedia.com.au</a>
                    </p>
                    
                </div>
            </div>
            
        </div>
    </div>
    <hr class="o-rule o-rule--30">
    <!-- Southern Farmer & North East and Goulburn Murray Farmer -->
    <div class="row c-contactpage">
        <div class="col-12">
            <div class="">
                <h3 class="c-contactpage__title">Southern Farmer, <br />North East & Goulburn Murray Farmer</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        (03) 5723 0100<br />
                        37 Rowan Street,<br />
                        Wangaratta Victoria 3677<br />
                        <a href="https://farmernews.com.au">farmernews.com.au</a>
                    </p>
                </div>
                <div class="c-contactpage__expand j-contactpage-expand d-md-none">
                    More info
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Advertising:</h4>
                    <p class="c-contactpage__content">
                        (03) 5731 3306<br />
                        <a href="mailto:mkidman@nemedia.com.au">mkidman@nemedia.com.au</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Editorial:</h4>
                    <p class="c-contactpage__content">
                        (03) 5733 1108<br />
                        <a href="mailto:sfarmer@nemedia.com.au">sfarmer@nemedia.com.au</a>
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    <hr class="o-rule o-rule--30">
    <!-- Euroa Gazette -->
    <div class="row c-contactpage">
        <div class="col-12">
            <div class="">
                <h3 class="c-contactpage__title">Euroa Gazette</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        (03) 5723 0100<br />
                        45-47 Railway St,<br />
                        Euroa  VIC 3666<br />
                        <a href="https://euroagazette.com.au">euroagazette.com.au</a>
                    </p>
                </div>
                <div class="c-contactpage__expand j-contactpage-expand d-md-none">
                    More info
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Classifieds:</h4>
                    <p class="c-contactpage__content">
                        (03) 5723 0101<br />
                        <a href="mailto:gazetteclassifieds@nemedia.com.au">gazetteclassifieds@nemedia.com.au</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Advertising:</h4>
                    <p class="c-contactpage__content">
                        (03) 5795 3041<br />
                        <a href="mailto:sales@nemedia.com.au">sales@nemedia.com.au</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 col-xl-2 u-mobile-margin-top-15 d-none d-md-block">
                    <h4 class="c-contactpage__subhead">Editorial:</h4>
                    <p class="c-contactpage__content">
                        (03) 5795 3041<br />
                        <a href="mailto:editor@euroa-gazette.com.au">editor@euroa-gazette.com.au</a>
                    </p>
                    
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="row c-contactpage">
        <div class="col-12 u-mobile-margin-top-30">
            <div class="c-page-head c-page-head-xs">
                <h2 class="c-contactpage__heading">Magazines and Special <br />Publications</h2>
            </div>
        </div>
        
    </div>
    <!-- North East Living -->
    <div class="row c-contactpage">
        <div class="col-12 u-margin-top-30">
            <div class="">
                <h3 class="c-contactpage__title">North East Living</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        (03) 5723 0100<br />
                        <a href="https://northeastliving.com.au">northeastliving.com.au</a>
                    </p>
                </div>
                
            </div>
            
        </div>
    </div>
    <hr class="o-rule o-rule--30">
    <!-- North East Tourist News -->
    <div class="row c-contactpage">
        <div class="col-12">
            <div class="">
                <h3 class="c-contactpage__title">North East Tourist News</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        (03) 5723 0100<br />
                        <a href="https://northeasttouristnews.com.au">northeasttouristnews.com.au</a>
                    </p>
                </div>
                
                
            </div>
           
        </div>
    </div>
    <hr class="o-rule o-rule--30">
     <!-- North East Weddings -->
    <div class="row c-contactpage">
        <div class="col-12">
            <div class="">
                <h3 class="c-contactpage__title">North East Weddings</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        (03) 5723 0100<br />
                        <a href="https://northeastweddings.com.au">northeastweddings.com.au</a>
                    </p>
                </div>
            </div>
           
        </div>
    </div>
    <hr class="o-rule o-rule--30">
     <!-- North East Kids -->
    <div class="row c-contactpage">
        <div class="col-12">
            <div class="">
                <h3 class="c-contactpage__title">North East Kids</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        (03) 5723 0100<br />
                        <a href="https://northeastkids.com.au">northeastkids.com.au</a>
                    </p>
                </div>
                
            </div>
           
        </div>
    </div>
    <hr class="o-rule o-rule--30">
    <!-- Alpine News -->
    <div class="row c-contactpage">
        <div class="col-12">
            <div class="">
                <h3 class="c-contactpage__title">Alpine News</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                        0418 620 651<br />
                        <a href="mailto:alpinenews@nemedia.com.au">alpinenews@nemedia.com.au</a>
                        <a href="https://snownews.com.au">snownews.com.au</a>
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    <hr class="o-rule o-rule--30">
    <!-- Snowy Mountains Magazine -->
    <div class="row c-contactpage">
        <div class="col-12">
            <div class="">
                <h3 class="c-contactpage__title">Snowy Mountains Magazine</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="c-contactpage__content">
                         0418 620 651<br />
                        <a href="mailto:stevecuff@snowymagazine.com.au">stevecuff@snowymagazine.com.au</a>
                        <a href="https://snowymagazine.com.au">snowymagazine.com.au</a>
                    </p>
                </div>
                
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-12 u-mobile-margin-top-30">
            <div class="c-page-head c-page-head-xs">
                <h2 class="c-contactpage__heading">Services</h2>
            </div>
        </div>
        
    </div>
    <div class="row c-contactpage">
        <div class="col-12 col-md-6 col-xl-3">
            <h3 class="c-contactpage__title">Website Development & <br />Digital Marketing</h3>
        </div>    
        <div class="col-12 col-md-6 col-xl-3 u-mobile-margin-top-15">
            <h4 class="c-contactpage__subhead">NEM Digital:</h4>
            <p class="c-contactpage__content">
                37 Rowan Street,<br />
                Wangaratta VIC 3677<br />
                Ph. 03 5723 0100<br />
                <a href="https://nemdigital.com.au">nemdigital.com.au</a>
            </p>
        </div>
    </div>

    <div class="row u-margin-top-30 c-contactpage">
        <div class="col-12 col-md-6 col-xl-3">
            <h3 class="c-contactpage__title">Printing & Graphic <br />Design Services</h3>
        </div>    
        <div class="col-12 col-md-6 col-xl-3 u-mobile-margin-top-15">
            <h4 class="c-contactpage__subhead">NEM Creative:</h4>
            <p class="c-contactpage__content">
                37 Rowan Street,<br />
                Wangaratta VIC 3677<br />
                Ph. 03 5723 0119<br />
                <a href="https://nemcreative.com.au">nemcreative.com.au</a>
            </p>
        </div>
    </div>

     <div class="row u-margin-top-30 c-contactpage">
        <div class="col-12 col-md-6 col-xl-3">
            <h3 class="c-contactpage__title">North East Directory</h3>
        </div>    
        <div class="col-12 col-md-6 col-xl-3 u-mobile-margin-top-15">
            <p class="c-contactpage__content">
                (03) 5723 0100<br />
                <a href="http://www.northeastdirectory.com.au/">northeastdirectory.com.au</a>
            </p>
        </div>
    </div>

    <div class="row u-margin-top-30 c-contactpage">
        <div class="col-12 col-md-6 col-xl-3">
            <h3 class="c-contactpage__title">Wangaratta Marathon & Fun Run</h3>
        </div>    
        <div class="col-12 col-md-6 col-xl-3 u-mobile-margin-top-15">
            <p class="c-contactpage__content">
                (03) 5723 0100<br />
                <a href="mailto:marathonfunrun@nemedia.com.au">marathonfunrun@nemedia.com.au</a><br />
                <a href="http://www.wangarattamarathon.com.au/">wangarattamarathon.com.au</a>
            </p>
        </div>
    </div>

    <div class="row c-contactpage">
        <div class="col-12">
            <div class="c-page-head c-page-head-xs u-margin-top-50">
                <h2 class="c-contactpage__heading">Classifieds</h2>
            </div>
        </div>
        <div class="col-12 col-md-4 col-xl u-mobile-margin-top-15">
            <h3 class="c-contactpage__title">In person</h3>
            <p class="c-contactpage__content">
                37 Rowan Street,<br />
                Wangaratta VIC 3677<br /><br />
                Office Hours<br />
                Mon-Fri 8:30am to 5pm 
            </p>

        </div>
        <div class="col-12 col-md-4 col-xl u-mobile-margin-top-15">
            <h3 class="c-contactpage__title">By phone</h3>
            <p class="c-contactpage__content">
                03 5723 0101<br />
                Fax: 03 5721 9447
            </p>

        </div>
        <div class="col-12 col-md-4 col-xl u-mobile-margin-top-15">
            <h3 class="c-contactpage__title">By email</h3>
            <p class="c-contactpage__content">
                By Email<br />
                <a href="mailto:classifieds@nemedia.com.au">classifieds@nemedia.com.au</a>
            </p>

        </div>
        <div class="col-12 d-none d-md-block d-xl-none u-margin-top-30">
            
        </div>
        <div class="col-12 col-md-4 col-xl  u-mobile-margin-top-15">
            <h3 class="c-contactpage__title">When to book</h3>
            <p class="c-contactpage__content">
                Chronicle Classifieds<br />
                2:30pm business day before print<br />
                <br />
                North East Jobs<br />
                3pm Friday
            </p>

        </div>
        <div class="col-12 col-md-4 col-xl u-mobile-margin-top-15">
            <h3 class="c-contactpage__title">Selling a car</h3>
            <p class="c-contactpage__content">
                Two weeks regional with <br />picture from only $40
            </p>

        </div>

        
    </div>