{% set config       = _Network.getThemeConfig() %}

{{ set(this, 'title', page.title | raw) }}



<main id="main" class="o-body-container o-body-container-md u-margin-top-60 u-mobile-no-margin-top" role="main">
    <div class="page_section">
        <section class="container" >
            <div class="row">
                <div class="col-12 col-md-8 mx-auto">
                    <div class="content-wrapper">
                        {{page.content | raw}}
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>