@mixin card-1-base() {
    
    @include card-name("C1 mobile");
    .c-cards-view {
        @include flex-direction(column, vertical);
        min-height: 400px;
        box-shadow: 4px 4px 8px rgba(196, 196, 196, 0.4);
        background-color: white;
        margin-bottom: 48px;

        &__heading {
            font-weight: $weightBold;
            @include font-size(20);
            @include flex-height(50px);
            min-height: auto;
        }

        &__description {
            display: block;
            @include font-size(14);
            line-height: 24px;

        }

        &__media {
            height: 236px;
        }

        &__container {
            padding: 40px;
        }

        &__category,
        &__author {
            display: none;
        }
    }
}








.card-1-mobile {
    @media #{$mobile} {
        @include card-1-base();
    }
}


@mixin card-1-tablet-base() {
    @include card-1-base();
    @include card-name("C1 tablet");
}


.card-1-tablet {
	@media #{$tablet} {
        @include card-1-tablet-base();
        @include card-name("C1 desktop");
    }
}
.card-1-desktop {
	@media #{$desktop-up} {
        @include card-1-tablet-base();
        @include card-name("C1 desktop");
        
    }
}

