@mixin card-1-base() {
    @include card-name("C1 mobile");
    
    .c-cards-view {
        @include flex-direction(column, vertical);
        // height: 320px;

        &__media {
            height: 62vw;
            width: 100%;
        }

        
        &__heading {
            font-weight: $weightBold;
            @include font-size(20);
            @include flex-height(55px);
        }

        &__container {
            width: 100%;
            // background: $white none repeat scroll 0 0;
            height: inherit;
            padding: 10px 0 0 0;
            z-index: 1;
        }

        &__description{
            display: block;
            color: $grey-2;
            @include font-size(13);
            @include flex-height(45px);
            margin-top: 10px;
        }

        &__author {
            margin-top:10px;
        }

        &.without-image {
            .c-cards-view {
                &__container {
                    width: 100%;
                    margin-top: 40px;
                    padding: 0 40px 40px;
                    margin-left: 0;
                    background: none;
                }
                &__heading {
                    margin-top:40px;
                }


                &__description {
                    margin-top:20px;
                    display:block;
                    @include font-size(13);
                    line-height: 1.44;
                    @include flex-height(80px);
                }


                &__author {
                    margin-top:20px;
                    border-top: 1px solid rgba($grey-3, 0.3);
                }
            }
        }



    // ****************************
    //          SOCIAL
    // ****************************
        &.social {
            .social-icon {
                @include size(30px);

                &:before {
                    @include font-size(13);
                    line-height: 32px;
                }
            }

            &.without-image {
                .c-cards-view {
                    &__container {
                        @include calc(width, '100% - 30px');
                        margin-left: 0px;
                        padding: 0 20px;
                        background: none;
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}








.card-1-mobile {
    @media #{$mobile} {
        @include card-1-base();
        
        &.card-negative{
            .c-cards-view {
                .c-cards-view__container {
                    padding: 20px;
                }
            
            
            }
        }
    }
}


@mixin card-1-tablet-base() {
    @include card-1-base();
    @include card-name("C1 tablet");
    .c-cards-view {
        @include flex-direction(row, horizontal);
        height: 400px;

        &__media {
            order: 2;
            height: 100%;
            @include flex-width(453px);
            &--video {
                &:before{
                    @include size(30px);
                }
            }

        }

        &__container{
            order: 1;
            padding-right: 12px;
        }

        &__category{
            margin-top: 30px;
        }

        &__heading {
            margin-top: 15px;
            @include font-size(28);
            line-height: 1.14;
            color: $grey-1;
            @include flex-height(155px);
            
        }

        &__description{
            display: block;
            color: $grey-2;
            @include font-size(13);
            @include flex-height(88px);
            margin-top: 10px;
        }

        &__author {
            position: absolute;
            bottom: 0;
        }

        
        
    
        &.without-image {
            .c-cards-view {
                &__container {
                    
                }
                &__heading {
                    

                }
                &__description {
                    
                }
                &__author {
                    
                }
            }
        }
    }


    // ****************************
    //          SOCIAL
    // ****************************
    &.social {
        .social-icon {
            @include size(50px);

            &:before {
               
            }
        }

        &.without-image {
            .c-cards-view {
                &__container {
                    
                }
            }
        }
    }
}


.card-1-tablet {
	@media #{$tablet} {
        @include card-1-tablet-base();
        @include card-name("C1 tablet");
    }
}

.card-1-desktop {
	@media #{$desktop} {
        @include card-1-tablet-base();
        @include card-name("C1 desktop");
        .c-cards-view {
            
            &__media {
                @include flex-width(60vw);
            }
        }
    }
}

.card-1-desktop-lg {
	@media #{$desktop-lg} {
        @include card-1-tablet-base();
        @include card-name("C1 desktop-lg");

        .c-cards-view {

            height: 417px;

            &__media {
                order: 2;
                height: 100%;
                @include flex-width(633px);
                &--video {
                    &:before{
                        @include size(40px);
                    }
                }

            }

            &__category{
                margin-top: 60px;
            }

            &__heading {
                @include font-size(35);
                @include flex-height(127px);
            }

            &__container {
                
            }
            &__description{
                @include font-size(14.5);
                @include flex-height(88px);
            }
            &__author {
                bottom: 60px;
            }
        }
    }
}

