.o-rule {
    width:100%;
    font-size:0;
    margin:30px 0;
    display:inline-block;
    border: none;
    border-bottom:1px solid $border;
    hr {
        display:none;
    }
    
    &--heavy{
        border-width: 2px;
        border-color: $grey-2;
    }

    &--color{
        border-color: $mainColor;
    }

    &--black{
        border-color: $black;
    }

    &--light{
        border-color: $grey-6;
    }
    &--white{
        border-color: $white;
    }

    &--thick{
        border-width: 4px;
        padding-top: 3px;
    }
    &--thicker{
        border-width: 7px;
    }
    
    &--10{
        margin: 10px 0;
    }

    &--12{
        margin: 12px 0;
    }

    &--15{
        margin: 15px 0;
    }

    &--20{
        margin: 20px 0;
    }

    &--30{
        margin: 30px 0;
    }

    &--40{
        margin: 40px 0;
    }

    &--50{
        margin: 50px 0;
    }

    &--hidden{
        border: none;
    }

}
