.cta {
    $cta: &;
    &-wrapper {
        $ctaWrapper: &;

        &.cta-d3 {
            #{$cta} {
                &-info {
                    &__content {
                        @include flexbox;
                        @include align-items(center);

                        @media (max-width: 767px) {
                            margin: 30px auto 0;
                        }


                        .heading {
                            @include font-size(32);
                            font-weight: $weightBold;
                            line-height: 1.2;
                            margin-bottom: 10px;
                            color: $grey-1;
                        }

                        .desc {
                            @include font-size(16);
                            line-height: 1.3;
                            color: $grey-3;
                        }

                        @media (max-width: 767px) {
                            @include flex-direction(column,vertical);
                        }

                        @media (max-width: 992px) {
                            margin-top: 30px;
                        }
                        &-link {
                            .link-btn {
                                @include size(270px);
                                @include border-radius(50%);
                                background:hsla(var(--main-color-h), var(--main-color-s), var(--main-color-l), 0.05);
                                @include flexbox;
                                @include align-items(center);
                                @include justify-content(center);

                                &__outer-circle {
                                    @include size(183px);
                                    @include border-radius(50%);
                                    background:hsla(var(--main-color-h), var(--main-color-s), var(--main-color-l), 0.2);
                                    @include flexbox;
                                    @include align-items(center);
                                    @include justify-content(center);
                                }

                                &__inner-circle {
                                    @include size(77px);
                                    @include border-radius(50%);
                                    background: var(--main-color);
                                    @include flexbox;
                                    @include align-items(center);
                                    @include justify-content(center);
                                }
                                @media (max-width: 767px) {
                                    @include size(200px);
                                    .link-btn {
                                        &__outer-circle {
                                            @include size(137px);
                                        }

                                        &__inner-circle {
                                            @include size(57px);
                                        }
                                    }
                                }
                            }
                        }

                        &-text {
                            margin-left: 45px;
                        }
                    }
                }
            }

            @media (max-width: 992px) {
                .cta-image {
                    margin: 0 auto;
                }
            }
        }
    }
}