/* Begin footer style */

.c-footer {
    background-color: $white;
    padding: 80px 0 50px;

    &__logo {
        max-width: 250px;
        display: block;
    
        img {
            max-width:100%;
        }
    }

    &__items {
        min-height: 200px;
        @include flexbox;
        @include flex-direction(column,vertical);
        @include justify-content(space-between);
    }

    &__social {
        &__icon {
            @include size(32px);
            background-color: var(--sec-color);
            display: inline-flex;
            @include border-radius(50%);
            @include align-items(center);
            @include justify-content(center);

            svg {
                >g>g{
                    fill:$white;
                }
                >path{
                    fill:$white;
                
                }
            }
        }
        a + a {
            margin-left: 8px;
        }
    }

    &__bottom {
        margin-top: 30px;

        &__powered-by {
            @include font-size(12);
            @include flexbox;
            @include justify-content(flex-end);
            @include align-items(flex-end);
            img {
                margin-right: 8px;
            }
            a {
                @include font-size(12);
                font-weight: 700;
                color: $grey-3;
            }
        }
    }
    &__copytext {
        @include font-size(12);
    }
}

/* End footer style */