/* Begin header style */

.c-header {
    background-color: $white;
    padding: 25px 0;
    &__main {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        flex: 1;

        &__rs {
            @include flexbox;
            @include align-items(center);

            .c-hamburger__wrap {
                @include flexbox;
                @include align-items(center);

                &-text {
                    margin-right: 10px;
                }

                &-icons {
                    min-width: 30px;
                    min-height: 18px;
                }
            }
        }
    }
}

/* End header style */


.c-section-panel__background {
    position: relative;
    min-height: 1000px;
    overflow: hidden;

    &:before {
        content: '';
        background-image: url('../icons/bg_shape_top.svg');
        background-size: cover;
        position: absolute;
        left: 0;
        width: 100%;
        height: 566px;
        display: block;
        background-position: bottom;
        top: -20%;
    }

    &:after {
        content: '';
        background-image: url('../icons/bg_shape_bottom.svg');
        background-size: cover;
        position: absolute;
        left: 0;
        width: 100%;
        height: 160px;
        display: block;
        background-position: bottom;
        bottom: 0;
    }
}