.page_section {
  .content-wrapper {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #393A3A !important;
      margin-bottom: 30px;
      line-height: 1.8;
    }

    h1 {
      font-size: 30px !important;
    }

    h2 {
        font-size: 26px !important;
    }

    h3 {
        font-size: 22px !important;
    }

    h4 {
        font-size: 20px !important;
    }

    h5 {
        font-size: 20px !important;
    }

    h6 {
        font-size: 18px !important;
    }

    p,
    span,
    u,
    a {
      color: $grey-3 !important;
      font-family: $primaryFont !important;
      font-size: 16px !important;
      line-height: 1.6 !important;
      font-weight: $weightRegular !important;
      letter-spacing: 0.5px !important;
      margin-bottom: 30px !important;
      word-wrap: break-word;

      * {
        line-height: 1.5 !important;
        letter-spacing: 1px !important;
        font-family: $primaryFont !important;
        word-wrap: break-word;
        margin-bottom: 0px !important;
        font-size: 16px !important;
      }
    }

    strong,
    b {
      color: $grey-3 !important;
      font-family: $primaryFont !important;
      font-size: 16px !important;
      line-height: 1.6 !important;
      font-weight: $weightBold !important;
      letter-spacing: 0.5px !important;
      margin-bottom: 30px !important;
      word-wrap: break-word;
      * {
        line-height: 1.5 !important;
        letter-spacing: 1px !important;
        font-family: $primaryFont !important;
        font-weight: $weightBold !important;
        word-wrap: break-word;
        margin-bottom: 0px !important;
        font-size: 16px !important;
      }
    }

    a {
      border-bottom: 1px solid $mainColor;
      @include transition(all 0.3s ease);
      font-family: $primaryFont !important;
      color: $mainColor !important;

      &:hover,
      &:focus {
        border-color: $transparent;
      }
    }

    blockquote {
      padding: 25px 0;
      margin: 25px 0;
      border-top: 1px solid $grey-6;
      border-bottom: 1px solid $grey-6;
      margin-bottom: 44px !important;
      &:after {
        content: "";
        width: 76px;
        height: 1px;
        display: block;
        background: $grey-3 none repeat scroll 0 0;
        margin-top: 30px !important;
      }
    }

    img {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 10px;
      margin-bottom: 25px;

      &:not([width]) {
        max-width: 100%;
        width: 100%;
      }
    }

    figure {
      position: relative;
      margin-top: 0;
      margin-bottom: 0;
      float: left;
      width: 100%;
      left: 50%;
      @include translate(-50%, 0);

      img {
        &:not([width]) {
          max-width: 100%;
          width: 100%;
        }
        margin-bottom: 0;
      }

      figcaption {
        margin: 0;
        width: 100%;
        font-family: $primaryFont;
        font-size: rem(14);
        font-weight: normal;
        font-style: italic;
        line-height: 1.47;
        color: $black;
        clear: both;
        margin-bottom: 20px;
      }
    }

    figure[style*="right"] {
      margin-right: 0px;
      margin-left: 20px;
    }

    figure[style*="right"],
    figure[style*="left"] {
      left: auto !important;
      @include translate(0%, 0);
      margin-right: 20px;
    }

    div[style*="text-align:center"],
    div[style*="text-align: center"] {
      overflow: hidden;
    }

    iframe {
      width: $viewportSize;
    }

    ol,
    ul {
      overflow: hidden;
      margin-bottom: 20px;
      padding-left: 25px;

      li {
        width: 100%;
        float: left;
        list-style-position: outside;
        padding-left: 7px;
        margin-bottom: 10px;
        color: $grey-3 !important;
        font-family: $primaryFont !important;
        font-size: 16px !important;
        line-height: 1.6 !important;
        font-weight: $weightRegular !important;

        > p {
          margin-bottom: 0px;
        }
      }
    }

    ul li {
      list-style-type: disc !important;

      ul {
          margin-top: 20px;
          li {
            list-style-type: inherit !important;
          }
      }

      span {
        position: relative;
        left: -22px;
        font-family: $primaryFont !important;
      }
    }

    ol li {
      list-style-type: decimal !important;
    }
  }
}
