.c-contactWrapper {
    background-color: #F6f5f5;
    &__form {
        margin-left: calc(100% - (1321px / 2) + 32px);
        padding: 60px 0;
        height: 100%;
        max-width: 480px;
        @media only screen and (min-width: 992px) and (max-width: 1320px) {
            margin-left: 0px !important;
            margin-right: auto !important;
            max-width: 480px !important;

        }
        @media only screen and (max-width: 992px) {
            margin-left: calc((100% - 738px) / 2);
            margin-right: calc((100% - 738px) / 2);
            max-width: inherit;
        }

        @media only screen and (max-width: 767px) {
            margin-left: calc((100% - 576px) / 2);
            margin-right: calc((100% - 576px) / 2);
            max-width: inherit;
        }

        @media only screen and (max-width: 576px) {
            margin-left: 0;
            margin-right: 0;
            max-width: inherit;
        }
        
        h2 {
            @include font-size(32);
            line-height: 40px;
            font-weight: $weightBold;
            color: $grey-1;
        }

        p {
            @include font-size(16);
            line-height: 24px;
            font-weight: $weightRegular;
            color: $grey-3;
            margin-bottom: 40px;
        }

        .c-form__input--bordered {
            border: none;
            border-bottom: 1px solid var(--main-color);
            border-radius: 0;

            &::placeholder {
                color: var(--main-color);
            }
        }
    }
    iframe {
        @media (max-width: 992px) {
            height: 500px;
        }
    }
    &__address-box {
        background: #FFFFFF;
        box-shadow: 3px -3px 8px rgba(0, 0, 0, 0.1);
        max-width: 350px;
        position: absolute;
        left: 40px;
        top: 50%;
        @include translate(0,-50%);
        width: 100%;
        padding: 40px;

        .heading {
            h3 {
                @include font-size(24);
                margin-top: 20px;
                font-family: $weightBold;
            }
        }
        p {
            @include font-size(16);
            margin-bottom: 20px;
            font-family: $weightRegular;
            line-height: 1.6;
        }
    }
}