/* Begin header style */

.c-header {
    background-color: $white;
    padding: 25px 0;
    &__main {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        flex: 1;

        &__rs {
            @include flexbox;
            @include align-items(center);

            .c-hamburger__wrap {
                @include flexbox;
                @include align-items(center);

                &-text {
                    margin-right: 10px;
                }

                &-icons {
                    min-width: 30px;
                    min-height: 18px;
                }
            }
        }
    }
}

/* End header style */