.c-signup-footer {
    width: 100%;
    padding: 15px 0 30px;
    background-color: $mainColor;
    margin-bottom: 30px;
    
    @media #{$desktop-lg}{
        padding: 35px 0;
        margin-bottom: 50px;
    } 
    &__title{
        @include font-size(20);
        letter-spacing: 0.6px;
        color: $white;
        font-family: $font-family-sans-serif;
        font-weight: $weightBold;
        text-transform: uppercase;
        @media #{$mobile}{
            text-align: center;
        }
        @media #{$desktop-lg}{
            @include font-size(25);
            padding-top: 5px;
        }
    }

    &__text{
        font-family: $font-family-sans-serif;
        @include font-size(20);
        line-height: 1.22;
        color: $white;
        text-transform: uppercase;
        @media #{$mobile}{
            text-align: center;
        }
        @media #{$desktop-lg}{
            @include font-size(25);
            padding-top: 5px;
        }
    }
    &__button{
        // @media #{$tablet}{
        //     width: 100%;
        // }

        @media #{$mobile} {
            margin: 0 auto;
            display: block;
            max-width: max-content;
        }

        >svg{
            top: 1.5px;
            position: relative;
        }
    }


}
