.cta {
    &-wrapper {
        @include flexbox;
    }
    &-info {
        &__icon {
            display: flex;
            position: relative;
        }
    }
    &-image {
        width: 100%;
        background-size: cover;
        margin-left: -150px;
    }
}