.c-contactpage {
    h2{
        font-size: rem(23) !important;
        &.c-contactpage__heading--color{
            color: $mainColor !important;
        }
    }
    h3{
        font-size: rem(18) !important;
        color: $mainColor !important;
    }
    h4{
        font-size: rem(14) !important;
    }
    p,a{
        font-size: rem(14) !important;
        font-family: $font-family-sans-serif !important;
        line-height: 1.43 !important;
        color: $grey-3 !important;
        letter-spacing: 0 !important;
        word-wrap: unset;
    }
    a{
        color: $mainColor !important;
        border-bottom: none;
    }
    &__heading{
        font-weight: $weightBold;
        line-height: 1.35;
        margin: 0 0 15px 0;
    }

    &__title{
        
            @include font-size(18);
            font-weight: $weightBold;
            line-height: 1.35;
            margin: 0 0 10px 0;
            color: $mainColor;
        
    }

    &__subhead{
        
            @include font-size(14);
            font-weight: $weightBold;
            line-height: 1.43;
            margin: 0 0 5px 0;
        
        
    }

    &__content{
        
            
            
    }

    &__background{
        background-color: $grey-7;
    }
    &__expand{
        @include font-size(14);
        font-weight: $weightBold;
        line-height: 1.43;
        font-family: $font-family-sans-serif;
        position: absolute;
        right: 0;
        bottom: 0;
        width: max-content;
        padding-right: 43px;
        cursor: pointer;
        &:after{
            content: '';
            display: block;
            width: 18px;
            background-image: url('../icons/plus.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            position: absolute;
            right: 20px;
            height: 100%;
            top: 0;
        
        }
    }
    
}